@model Outa.Models.Offer

@{
    ViewBag.Title = "Accept";
}

<h1>Offer Accepted!</h1>

<div>
    <h4>Offer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.o_Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.o_Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.o_AuthorUn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.o_AuthorUn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.o_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.o_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.o_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.o_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.o_Parent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.o_Parent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.o_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.o_Status)
        </dd>

    </dl>
</div>
