@model IEnumerable<Outa.Models.Offer>

@{
    ViewBag.Title = "IndexByParent";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/tableTheme.css" />
    <script src="~/Scripts/jquery-2.2.0.js"></script>
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
</head>

<h2>Offers</h2>

<table id="myTable" class="tablesorter-metro-dark">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.o_AuthorUn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_Parent)
        </th>
    </tr>
        </thead>
    <tbody>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.o_AuthorUn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.o_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.o_Price)
            </td>
            <td>
                @if (item.o_Status == 0)
                {
                    @Html.Raw("Open")
                }
                else if (item.o_Status == 1)
                {
                    @Html.Raw("Accepted Offer")
                }
                else if (item.o_Status == 2)
                {
                    @Html.Raw("Closed")
                }
            </td>

            <td>
                @Html.ActionLink(Html.DisplayFor(modelItem => item.o_Parent).ToString(), "Details", "Requests", new { id = item.o_Parent }, null)
            </td>
            <td>
                @if ((User.Identity.Name == item.o_AuthorUn && item.o_Status == 0) || User.IsInRole("admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    @Html.Raw("|")
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    @Html.Raw("|")
                }
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @if (item.o_Status == 0)
                {
                    @Html.Raw("|")
                    @Html.ActionLink("Accept", "Accept", "Offers", new { id = item.Id }, null)
                }
            </td>
        </tr>
    }
        </tbody>

</table>
<script>
    $(document).ready(function () {
        $("#myTable").tablesorter();
    }
    );

</script>
