@model IEnumerable<Outa.Models.Offer>

@{
    ViewBag.Title = "MyOffers";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/tableTheme.css" />
    <script src="~/Scripts/jquery-2.2.0.js"></script>
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
</head>

<h2>MyOffers</h2>

<table id="myTable" class="tablesorter-metro-dark">
    <thead>
        <tr>
            <th>
                Request
            </th>
            <th>
                @Html.DisplayNameFor(model => model.o_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.o_Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.o_Status)
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        var c = new Outa.Controllers.OffersController();
                        string title = c.getRequestTitle(item.o_Parent);
                    }
                    @Html.ActionLink(title, "Details", "Requests", new { id = item.o_Parent }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.o_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.o_Price)
                </td>
                <td>
                    @if (item.o_Status == 0)
                {
                        @Html.Raw("Open")
                    }
                    else if (item.o_Status == 1)
                    {
                        @Html.Raw("Accepted Offer")
                    }
                    else if (item.o_Status == 2)
                    {
                        @Html.Raw("Closed")
                    }
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class="btn btn-primary" })
                    @if (item.o_Status == 0)
                {
                        @Html.Raw(" ")
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                        @Html.Raw(" ")
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-primary" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#myTable").tablesorter();
    }
    );

</script>

