@model IEnumerable<Outa.Models.Offer>

@{
    ViewBag.Title = "Transactions";
}

<h2>Transactions</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.o_AuthorUn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.o_Parent)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.o_AuthorUn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.o_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.o_Price)
            </td>
            <td>
                @if (item.o_Status == 1)
                {
                    @Html.Raw("Awaiting Payment")
                }
                else if (item.o_Status == 2)
                {
                    @Html.Raw("Payment received")
                }
            </td>
            <td>
                @Html.ActionLink(Html.DisplayFor(modelItem => item.o_Parent).ToString(), "Details", "Requests", new { id = item.o_Parent }, null)
            </td>
            <td>
                @if (User.Identity.Name == item.o_AuthorUn || User.IsInRole("admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    @Html.Raw("|")
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    @Html.Raw("|")
                }
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @if (item.o_Status == 1)
                {
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_xclick">
                        <input type="hidden" name="business" value="rockitshipshawty@gmal.com">
                        <input type="hidden" name="lc" value="BT">
                        <input type="hidden" name="item_name" value="sdsfds">
                        <input type="hidden" name="amount" value="100.00">
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="button_subtype" value="services">
                        <input type="hidden" name="no_note" value="0">
                        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
                        <input type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/buy-logo-small.png" alt="Buy now with PayPal" />
                    </form>
                }
            </td>
        </tr>
    }

</table>
