@model Outa.Models.Message

@{
    ViewBag.Title = "Details";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/message.css" />
</head>
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-md-12">
            <div class="blog-comment">
                <hr />
                @{ 
                    var c = new Outa.Controllers.ProfilesController();
                    var v = new Outa.Controllers.OffersController();
                    var image = c.GetProfilePic(Model.Author);
                    string title = v.getRequestTitle(Model.RequestID);
                }
                    <ul class="comments" style="vertical-align:middle">
                        <li class="clearfix" style="vertical-align:middle">
                            <img src="@image" class="avatar" alt="">
                            <div class="post-comments">
                                <p class="meta">@Html.ActionLink(@Html.DisplayFor(model => model.AuthorUn).ToString(), "DetailsByUserId", "Profiles", new { uid = Model.Author }, null) | @Html.ActionLink(title, "Details", "Requests", new { id = Model.RequestID }, null) | @Html.DisplayFor(model => model.Date) </p>
                                <p style="font-size:large">
                                    @Html.DisplayFor(model => model.Content)
                                </p>
                            </div>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</div>
<div class="row" style="text-align:center">
    <div class="col-md-12">@Html.ActionLink("Reply", "Reply", new { parentId = Model.Id }, new { @class = "btn btn-default" })</div>
</div>

