@model IEnumerable<Outa.Models.Message>

@{
    ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/tableTheme.css" />
    <script src="~/Scripts/jquery-2.2.0.js"></script>
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
</head>
<h2>Inbox</h2>
<table id="myTable" class="tablesorter-metro-dark">
    <thead>
        <tr>
            <th>User</th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>Request</th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr class="clickable-row" data-href="@Url.Action("Details", new { id = item.Id })">
                <td>
                    <div>@Html.DisplayFor(modelItem => item.AuthorUn)</div>
                    @{ 
                        var v = new Outa.Controllers.ProfilesController();
                        var image = v.GetProfilePic(item.Author);
                    }
                    <img src="@image" class="profile-pic" alt="">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @{
                        var c = new Outa.Controllers.OffersController();
                        string title = c.getRequestTitle(item.RequestID);
                    }
                    @Html.ActionLink(title, "Details", "Requests", new { id = item.RequestID }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
                        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#myTable").tablesorter();
        $(".clickable-row").click(function () {
            window.document.location = $(this).data("href");
        });
    }
    );

</script>
