@model Outa.Models.Request

@{
    ViewBag.Title = "Create";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
</head>
<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" style="text-align:center">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="row" style="padding:15px">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-12">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="row" style="padding:15px">
                @Html.LabelFor(model => model.Tags, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-12">
                @Html.EditorFor(model => model.Tags, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="row" style="padding:15px">
                @Html.LabelFor(model => model.Img, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-12">
                @Html.EditorFor(model => model.Img, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Img, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="row" style="padding:15px">
                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group hidden">
            <div class="row" style="padding:15px">
                @Html.LabelFor(model => model.Lat, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-12 hidden">
                @Html.EditorFor(model => model.Lat, new { htmlAttributes = new { @class = "form-control", @id = "latter" } })
                @Html.ValidationMessageFor(model => model.Lat, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group hidden">
            <div class="row" style="padding:15px">
                @Html.LabelFor(model => model.Long, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-12 hidden">
                @Html.EditorFor(model => model.Long, new { htmlAttributes = new { @class = "form-control", @id = "longer" } })
                @Html.ValidationMessageFor(model => model.Long, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <a type="button"
               class="btn btn-primary"
               href="#address-editor"
               data-toggle="modal">Location</a>
            <p style="font-size:24px; font-style:italic; padding-top:10px; padding-bottom:10px">or</p>
            <input type="button" value="Use Current Location" style="width:auto" class="btn btn-default" onclick="geoLocation();" />
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div class="modal fade" id="address-editor" style="width:30%; margin-left:auto; margin-right:auto; margin-top:auto; margin-bottom:auto; background-color:#FFFFFF">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
    </div>
    <div class="modal-body" style="color:black; text-align:center">
        <div class="form-horizontal" style="text-align:center">
            <div class="form-group">
                <div class="row" style="padding:15px">
                    Street Number
                </div>
                <div class="col-md-12">
                    <input type="text" class="form-control" id="streetnumber" />
                </div>
            </div>
            <div class="form-group">
                <div class="row" style="padding:15px">
                    Street Name
                </div>
                <div class="col-md-12">
                    <input type="text" class="form-control" id="streetname" />
                </div>
            </div>
            <div class="form-group">
                <div class="row" style="padding:15px">
                    City
                </div>
                <div class="col-md-12">
                    <input type="text" class="form-control" id="city" />
                </div>
            </div>
            <div class="form-group">
                <div class="row" style="padding:15px">
                    State
                </div>
                <div class="col-md-12">
                    <input type="text" class="form-control" id="state" />
                </div>
            </div>
            <div class="form-group">
                <div class="row" style="padding:15px">
                    Zip
                </div>
                <div class="col-md-12">
                    <input type="text" class="form-control" id="zipcode" />
                </div>
            </div>
            </div>
        </div>
    <div class="modal-footer" style="text-align:center">
        <a href="#" class="btn btn-primary" onclick="byAdress();">Save Changes</a>
        <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
    </div>
</div>
<script>
    function byAdress()
    {
        var geocoder = new google.maps.Geocoder();
        var address = ($("#streetnumber").val() + " " + $("#streetname").val() + "," + $("#city").val() + "," + $("#state").val() + "," + $("#zipcode").val())
        geocoder.geocode({ 'address': address }, function (results, status) {

            if (status == google.maps.GeocoderStatus.OK) {
                var latitude = results[0].geometry.location.lat();
                var longitude = results[0].geometry.location.lng();
                $("#latter").val(latitude);
                $("#longer").val(longitude);
            }
        });
    }
    function geoLocation() {
        navigator.geolocation.getCurrentPosition(function (position) {
            var latitude = position.coords.latitude
            var longitude = position.coords.longitude;
            $("#latter").val(latitude);
            $("#longer").val(longitude);
            swal({
                title: "Location Set:",
                confirmButtonColor: "#D9230F"
            });
        });
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
