@model Outa.Models.Request

@{
    ViewBag.Title = "Details";
}
<head>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <link rel="stylesheet" href="~/Content/leaflet-routing-machine.css" />
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src="~/Scripts/leaflet-routing-machine.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
</head>
<div class="row">
    <div class="col-md-12" style="text-align:center">
        <h1>@Html.DisplayFor(model => model.Title)</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <img src="@Html.DisplayFor(model => model.Img)" class="detailsImage" style="max-width:100%" />
    </div>
    <div class="row">
    <div class="col-md-12" style="text-align:center">
        @if (Model.Status == 0)
        {
            <p class="topbutton">@Html.ActionLink("Make Offer", "Create", "Offers", new { id = Model.Id }, new { @class = "btn btn-default btn-large", @style = "width:90%" })</p>
            <p>@Html.ActionLink("Ask Question", "Create", "Messages", new { id = Model.Id }, new { @class = "btn btn-primary btn-large", @style = "width:90%" })</p>
        }
        <div style="text-align:center">
            <h2 id="location"></h2>
        </div>
        <div id="map"></div>
    </div>
        </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="detailsContent">@Html.DisplayFor(model => model.Content)</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p class="detailsOtherH">User</p>
        <p class="detailsOther">@Html.DisplayFor(model => model.AuthorUn)</p>
    </div>
    <div class="col-md-6">
        <p class="detailsOtherH">Last Modified</p>
        <p class="detailsOther">@Html.DisplayFor(model => model.Date)</p>
    </div>
</div>
<div class="row" id="backbutton">
    <div class="col-md-12">
        @Html.ActionLink("Back", "GridIndex", null, new { @class = "btn btn-primary btn-large", @style = "width:100%" })
    </div>
</div>
<p>
    @if (User.Identity.Name == Model.AuthorUn || User.IsInRole("admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        @Html.Raw("|")
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
        @Html.Raw("|")
    }
</p>
<script>
    var map = L.map('map').setView([51.505, -0.09], 13);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        maxZoom: 18,
        id: 'rockitshipshawty.p0k23ae2',
        accessToken: 'pk.eyJ1Ijoicm9ja2l0c2hpcHNoYXd0eSIsImEiOiJjaWp5ZnN4NWQxdmdkd2RraWswNHY3MDc4In0.lMAYjseE_PozCPpTdF9jLg'
    }).addTo(map);
    navigator.geolocation.getCurrentPosition(function (position) {
        var lat = position.coords.latitude
        var long = position.coords.longitude;
        map.setView([lat, long], 5)
        L.Routing.control({
            waypoints: [
              L.latLng(lat, long),
              L.latLng(@Model.Lat, @Model.Long)
            ],
            draggableWaypoints: false,
            addWaypoints: false,
        }).addTo(map);
        navigator.g
    });
    function getAddress() {
        var geocoder = new google.maps.Geocoder();
        var lat = @Model.Lat;
        var long = @Model.Long;
        var latlng = {lat: parseFloat(lat), lng: parseFloat(long)};
        geocoder.geocode({ 'location': latlng }, function (results, status) {

            if (status == google.maps.GeocoderStatus.OK) {
                var address = (results[0].address_components);
                var addressStrings = [];
                for (i = 0; i < address.length; i++)
                {
                    if(address[i].types[0] == "locality" || address[i].types[0] == "administrative_area_level_1")
                    {
                        addressStrings.push(address[i].long_name)
                    };
                };
                $('#location').text(addressStrings[0] + ", " + addressStrings[1]);
            }
        });
    }
    $( document ).ready(function() {
        getAddress();
    });
</script>