@model Outa.Models.Request

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuthorUn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuthorUn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tags)
        </dd>

    </dl>
</div>
<p>
    @if (User.Identity.Name == Model.AuthorUn || User.IsInRole("admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        @Html.Raw("|")
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
        @Html.Raw("|")
    }
    @Html.ActionLink("Back to List", "Index")
</p>
